/* Universal Style */

html {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: bold;
}

h2 {
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    font-weight: bold;
}

.media-container {
    overflow: hidden;
}

.media-container img, .media-container video {
    display: block;
    width: 100%;
}

/* Universal Flex Content */

.flex-content {
    display: flex;
    padding: 0 1.5rem;
}

.flex-content .main-content {
    width: 60%;
    padding: 2rem 1.5rem 2rem 0;
    border-right: 1px solid rgb(245, 245, 245);
}

.flex-content .supporting-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 0;
}